name: EasyPR Tests

on:
  push:
    branches:
      - main
      - qa
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
        node-version: 18.18.0

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Install Cypress Binary
        run: npx cypress install

      - name: Run API tests with Newman
        run: |
          npx newman run postman/collections/easypr.collection.json \
            -e postman/environments/easypr.env.json

      - name: Check site availability
        run: curl -I https://easyprwire.com || exit 1

      - name: Run Cypress tests
        run: npx cypress run --browser chrome
